{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    <div class="{{ particle.class|e }}">

        {% if particle.title %}<h2 class="g-title">{{ particle.title|raw }}</h2>{% endif %}

        <div id="{{ id }}" data-bookblock-id="{{ id }}" data-bookblock-direction="{{ gantry.page.direction }}" class="bb-bookblock">

            {% for item in particle.items %}
            <div class="bb-item">
                <div class="bb-custom-firstpage">
                    {% if item.category %}
                        <span class="bb-item-category">{{ item.category }}</span>
                    {% endif %}
                    <nav>
                        <div class="bb-nav-prev bb-custom-icon"><i class="fa fa-chevron-circle-left"></i></div>
                        <div class="bb-nav-next bb-custom-icon "><i class="fa fa-chevron-circle-right"></i></div>
                    </nav>
                    {% if item.title %}
                        <h3 class="bb-item-title">{{ item.title }}</h3>
                    {% endif %}
                    {% if item.intro %}
                        <p class="bb-item-intro">{{ item.intro|raw }}</p>
                    {% endif %}
                    {% if item.content %}
                        <p class="bb-item-content">{{ item.content|raw }}</p>
                    {% endif %}
                    {% if item.readmore %}
                        <a target="{{ item.readmoretarget|default('_self')|e }}" href="{{ item.readmorelink|e }}" class="button {{ item.readmoreclass|e }}">{{ item.readmore|raw }}</a>
                    {% endif %}
                </div>
                <div class="bb-custom-side">
                    <div class="bb-sideimage">
                        {% if item.image %}
                            <img src="{{ url(item.image)|e }}" alt="{{ item.title|e }}" />
                        {% endif %}
                    </div>
                    <div class="bb-sidetext">
                        {% if item.imagetitle %}
                            <h3 class="g-title">{{ item.imagetitle }}</h3>
                        {% endif %}
                        {% if item.imagedesc %}
                            <p class="bb-image-desc">{{ item.imagedesc }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}

{% block javascript_footer %}
<script src="{{ url('gantry-theme://js/modernizr.custom.js') }}"></script>
<script src="{{ url('gantry-theme://js/jquerypp.custom.js') }}"></script>
<script src="{{ url('gantry-theme://js/jquery.bookblock.js') }}"></script>
<script src="{{ url('gantry-theme://js/jquery.bookblock.init.js') }}"></script>
{% endblock %}
